/1559282445_types.zip
/1559282753_classes
/1559282753_classes.zip
/2018060480.pdf
/7z1900-x64.exe
/assignment.py
/bakl.py
/CAT1_2Questions.pdf
/data_structure.ipynb
/digi exam.pdf
/diptanu_som.zip.7z
/final assign.py
/FortiClientOnlineInstaller_7.0.1.0083.exe
/functions (1).py
/functions.py
/functions.py.txt
/functions.zip
/hello.py
/main.py
/pickles.py
/prim.py
/VPN.pdf
/xl.py